#root {
    display: flex!important;
    flex-direction: column;
    height: 100%;
    height: 100vh;
}

.App-Body {
    overflow: auto;
    overflow-x: hidden;
    flex: 1;
}

.is-flex-centered {
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.is-fullheight {
    height: 100%;
}

.is-atleast-fullheight {
    min-height: 100%;
}

.panel.is-atleast-fullheight {
    margin-bottom: 0.5em;
}

.footer {
    background-color: inherit;
    padding: 1rem 1rem 1.2rem;
    font-size: 0.8em;
    color: #888
}

@media screen and (max-width: 1023px) {
    .navbar-item.is-active.is-tab {
        border-bottom-color: transparent;
        border-bottom-width: 0;
        border-left-width: 0.5em;
        border-left-color: #3273dc;
        border-left-style: solid;
    }
    .navbar-menu {
        height: 100%;
        overflow: auto;
    }
}

.navbar-item .button.is-rounded {
    border-radius: 8em;
    padding: 0.8em
}

.list-item {
    font-size: 0.8em;
}

.list-item-title {
    font-weight: bold;
    color: 'black'
}

.list-item-subtitle {
    font-size: 0.8em;
}

.job-item:not(:first-of-type) .card {
    margin-top: 0.8em;
}

.job-item.card.is-active,
.job-item.card:hover {
    background-color: white!important;
}

.job-detail.card {
    display: flex;
    flex-direction: column;
    flex: 1
}

.job-detail.card .card-content {
    display: flex;
    flex-direction: column;
    flex: 1
}

.job-panel.panel {
    flex-direction: column;
}

.job-panel.panel .panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width:1024px) {
    .job-panel.panel>*:first-child,
    .job-panel.panel {
        border-top-right-radius: 0;
    }
    .job-panel.panel>*:last-child,
    .job-panel.panel {
        border-bottom-right-radius: 0;
    }
    .job-detail,
    .job-detail .card-content .level {
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .job-detail .card-content .level {
        border-bottom-right-radius: 0;
    }
}

@media screen and (max-width:1023px) {
    .job-detail {
        border-radius: 0 0 1em 1em;
    }
}

.job-detail .card-content .level {
    box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, .1);
}

.image.is-80x80 {
    height: 80px;
    width: 80px;
}

@media screen and (min-width: 769px) {
    .modal-card,
    .modal-content {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
        width: auto;
    }
}

.job-form-field.field {
    border-left: solid grey 2px;
    padding-left: 1em;
}

.job-form-field.field:hover {
    border-left: solid #3298dc 2px;
}